stages:
  - test
  - deploy

test:
  stage: test
  image: python:3.9
  script:
    - pip install -r requirements.txt
    - python -m unittest discover -s tests

deploy:
  stage: deploy
  only:
    - main
  script:
    - echo "$SSH_PRIVATE_KEY" > private_key.pem
    - chmod 600 private_key.pem
    - scp -i private_key.pem -o StrictHostKeyChecking=no -r ./* root@$SERVER_IP:~/deploy
    - ssh -i private_key.pem -o StrictHostKeyChecking=no root@$SERVER_IP "
        cd ~/deploy &&
        nohup python python_bot.py > bot.log 2>&1 &
      "
    - echo "Deployment script finished."