stages:
  - setup
  - build

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

setup-job:
  stage: setup
  image: docker:20.10.16
  services:
    - docker:dind
  script:
    - apk add --no-cache docker-compose  # Используется Alpine, не apt
    - docker-compose version

build-job:
  stage: build
  image: docker:20.10.16
  services:
    - docker:dind
  script:
    - apk add --no-cache docker-compose
    - docker-compose build
    - echo "Compile completed successfully!"

