version: '3.9'

services:
  bot:
    build: .
    container_name: trash_bot
    environment:
      - TELEGRAM_APITOKEN=${TELEGRAM_TOKEN}
      - REDIS_ADDR=redis:6381
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis

