version: '3.9'

services:
  bot:
    build: .
    container_name: trash_bot
    environment:
      - TELEGRAM_APITOKEN=${TELEGRAM_APITOKEN}
      - REDIS_ADDR=redis:6379
      - PORT=8080
    ports:
      - "8080:8080"
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: redis

