services:
  bot:
    build: .
    container_name: trash_bot
    environment:
      - TELEGRAM_APITOKEN=${TELEGRAM_APITOKEN}
      - REDIS_ADDR=redis:6379
    ports:
      - "8080:8080"
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    container_name: redis

